.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.intro {
  background-image: url("update3.png");
  background-size: 100% 100%;
}

.aboutMe {
  background-color: #d74f41;
}

.links {
  background-color: black;
  opacity: 0.7;
}

.info {
  height: 70vh;
  width: 85vw;
  display: flex;
  align-items: center;
}

.linksInfo {
  color: #ffd2d2;
  font-size:72px;
  height: 40vh;
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: auto;
  text-align: center;
  color: white;
  font-family: welcome2019;
  font-size: 550%;
  letter-spacing: -10px;
}

h2 {
  text-align: center;
  color: white;
  font-family: AugustRain;
  font-size: 200%;
  letter-spacing: 2px;
}

h3 {
  text-align: left;
  color: white;
  font-family: welcome2019;
  font-size: 175%;
  margin: 0;
  letter-spacing: 2px;
}

p {
  font-family: 'Karla', sans-serif;
  text-align: left;
  color: white;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 30px;
  opacity: 0.7;
}

i {
  color: #FBE5D8;
}

a, i {
  transition: opacity 0.5s ease;
  opacity: 1;
  text-decoration: none;
}

a:hover, i:hover {
  transition: opacity 0.5s ease;
  opacity: 0.5;
}

strong {
  color: black;
  opacity: 0.8;
}

img {
  height: 60vh;
  width: auto;
}

.infoText {
  height: 80vh;
  width: 80vw;
  align-items: center;
  align-content: center;
  display: flex;
  size: 100%;
  flex-wrap: wrap;
  margin: 2% 5%;
}

.border {
  border-style: outset;
  border-width: 5px;
  border-color: white;
  size: 100%;
  opacity: 0.8;
  padding: 5%;
  height: 60vh;
}

@font-face {
  font-family: welcome2019;
  src: url(Welcome2019.otf);
}

@font-face {
    font-family: AugustRain;
    src: url(AugustRain.ttf);
}

